<div class="heading">
    <h1>Welcome to Library Management System !</h1>
    <div class="col-5">
        <div class="row">

            <a routerLink="/books" class="btn btn-primary">Browse all Books</a>
            <a routerLink="/admin/users" class="btn btn-success">Browse all Users</a>
        </div>
    </div>
</div>
<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Made by &copy; Jatin Rathee 2020</p>
    </div>
    <!-- /.container -->
</footer>