
<div class="container row col-12 books">
    <div class="col-12">
        <h1>Books</h1>
    </div>
    <div class="col-lg-3 col-md-6 mb-4 book" *ngFor="let book of books;let i=index">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="{{book.retrievedImage}}" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">{{book.name}}</a>
                </h4>
                <h5>Price: ${{book.price}}</h5>
            </div>
            <div class="card-footer">
                Author: {{book.author}}
            </div>
        </div>
    </div>

    
</div>
<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Made by &copy; Jatin Rathee 2020</p>
    </div>
    <!-- /.container -->
</footer>